 <style>
        body  {
            background-color: yellow;
        }

        h1 {
            color: blue;
            text-align: center;
        }

        p{
            font-family: "Arial";
            font-size: 20px;
        }
    </style>